various.txt
bin/*
include/*
lib64/*
lib/*
local/*
man/*
out/*
pip*
share/*
src/*.zip
src/.vscode/*
src/database.sqlite
src/db/database.sqlite
src/models/*.model
src/models/GoogleNews*

.vscode/*

*.model
*.pyc
*.sh
*.sqlite

lib64
